

h2{
    text-align: center;
}

h1{
    text-align: center;
}

#poster{
    margin-left: 400px;
    margin-right: 400px;

    padding-left: 20px;
    padding-right: 20px;

    border: 5px solid #9cf6f6;

    background-color: #b5d6d6;
}


.catalog {
    display: flex;
    flex-wrap: wrap;
}
.catalogCard {
    display: inline-block;
    margin: 0.5rem;
    min-height: 100px;
}
.catalogContainer {
    overflow: hidden;
    margin: auto;
}
.catalogImg{
    float: left;
}

.catalogCard:hover{
    background-color: grey;
}

