

h2{
    text-align: center;
}

h1{
    text-align: center;
}

#poster{
    margin-left: 400px;
    margin-right: 400px;

    padding-left: 20px;
    padding-right: 20px;

    border: 5px solid #9cf6f6;

    background-color: #b5d6d6;
}


.catalog {
    display: flex;
    flex-wrap: wrap;
}
.catalogCard {
    display: inline-block;
    margin: 0.5rem;
    min-height: 100px;
    background: rgba(230, 149, 150, .75);

    box-shadow: 5px 5px 5px #221f24;

    border-radius: 20px;

    transition: transform .2s;
}
.catalogContainer {
    overflow: hidden;
    margin: auto;

}
.catalogImg{
    float: left;
    padding-right: 15px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.catalogCard:hover{
    background-color: #e69597;
    box-shadow: 7px 7px 7px black;

    transform: scale(1.02);
}

